DB_HOST=host_url
DB_PORT=5432
DB_NAME=evchargingdb
DB_USERNAME=username
DB_PASSWORD=pass

API_JWT_KEY=your_api_key
JWT_EXPIRATION=duration_time_in_milliseconds

# remember to have s3 storage public
S3_ACCESS_KEY=created_access_key_for_s3
S3_SECRET_KEY=secret-key-s3
S3_REGION=ap-southeast-1

BUCKET_NAME=bucket-name